<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "employee" class = "com.cts.Employee">
      <property name = "empId" value = "1001"></property>
      <property name = "empName" value = "Ayushi"></property>
      <property name = "empAddress" value = "Pune"></property>
   </bean>

   <bean id = "user" class = "com.cts.User">
   <constructor-arg value="Amit"></constructor-arg>
   <constructor-arg value="pune"></constructor-arg>
   </bean>

</beans>